.vertex-flex {
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.vertex-logo {
  max-width: 30vw;
  border-radius: 10%;
}

.vertex-text {
  max-width: 30vw;
  text-align: left;
}

.v-link {
  color: lightblue;
}

.grad-container {
  background: linear-gradient(to right, #427add, green);
  -webkit-background-clip: text; /* Important for showing gradient through text */
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 25px; /* Example - adjust as needed */
}

@media (max-width: 768px) {
  .vertex-flex {
    height: auto;
    flex-direction: column;
    padding-top: 5vh;
    padding-bottom: 5vh;
  }

  .vertex-logo {
    min-width: 80%;
  }

  .vertex-text {
    max-width: fit-content;
    text-align: center;
  }
}
