.Profile-avatar {
    max-width: 100%; /* Set a maximum width for the image */
    height: auto; /* Maintain aspect ratio */
    object-fit: contain; /* Adjust the object-fit property as needed */
    border-radius: 14%; /* Add rounded corners to the image */
}


/* Media query for smaller screens, like mobile phones */
@media screen and (max-width: 767px) {

    .ListItems {
        width: 60vw;
        word-wrap: break-word;
    }
}
