.page-container{
    background-color: #131314;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

@import url(//fonts.googleapis.com/css?family=Vibur);

.logo{
    display: flex;
    padding-left: 15px;
    padding-top: 8px;
    min-height: 12vh;
}

.logo b{
  font: 6vh "Vibur";
  color: #fee;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 10px 3px #000;
}
.logo b span{
  animation: blink linear infinite 8s;
}
.logo b span:nth-of-type(2){
  animation: blink linear infinite 12s;
}

@keyframes blink {
    78% {
      color: inherit;
      text-shadow: inherit;
    }
    79%{
       color: #333;
    }
    80% {
      
      text-shadow: none;
    }
    81% {
      color: inherit;
      text-shadow: inherit;
    }
    82% {
      color: #333;
      text-shadow: none;
    }
    83% {
      color: inherit;
      text-shadow: inherit;
    }
    92% {
      color: #333;
      text-shadow: none;
    }
    92.5% {
      color: inherit;
      text-shadow: inherit;
    }
  }

  .content{
    background-color: #131314;
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    overflow-y: auto; 
  }

  .go-back{
    max-width: 20vw;
  }

  .content::-webkit-scrollbar { 
    width: 12px;
 }
 
 .content::-webkit-scrollbar-track { 
    background-color: transparent; /* Make track transparent */
 }
 
 .content::-webkit-scrollbar-thumb {
    background-color: #80868b;  /* Your desired color */
    border-radius: 10px;        /* Creates the oval shape */
 }

 .nav-buttons{
  display: flex;
  color: #80868b;
  justify-content: space-between;
 }

 .arrow{
  height: 5vh;
  margin: 5px;
 }

 .arrow:hover{
  cursor: pointer;
 }

 .page-num{
  font-size: 17px;
  font-weight: 750;
 }