.logo-flex {
    display: flex;
    justify-content: center;
}

.logo-grid {
    display: grid;
    width: 80%;
    align-items: center;
    grid-template-columns: 50% 50%;
    margin-bottom:0;
}

.logo-display img{
    width: auto;
    height: 200px;
    object-fit: cover;
}

@media screen and (max-width: 767px) {
    .logo-grid {
        grid-template-columns: 1fr;
    }
}