/* ProjectSt.css */

.st-left {
    max-width: 100%; /* Set a maximum width for the image */
}

.st-left img {
    width: 100%; /* Make the image take up the full width of its container */
    height: auto; /* Maintain aspect ratio */
    object-fit: contain; /* Adjust the object-fit property as needed */
}