/* ProjectSt.css */

.st-left {
    max-width: 100%; /* Set a maximum width for the image */
}

.st-left img {
    width: 100%; /* Make the image take up the full width of its container */
    height: auto; /* Maintain aspect ratio */
    object-fit: contain; /* Adjust the object-fit property as needed */
}



/*.ProjectSt-container {
    display: grid;
    grid-template-columns: 1fr 1fr;*/ /* Two equal-width columns */
    /*grid-column-gap: 100px;*/ /* Increase the spacing between columns */
    /*margin: 0 auto;
    margin-top: 150px;
    max-width: 1200px;
    padding: 0 15px;
}

.st-left {
    grid-column: 1 / 2;*/ /* Place the image container in the first column */
    /*text-align: center;*/ /* Center the image horizontally */
    /*margin-bottom: 30px;
}

    .st-left img {
        max-width: 100%;*/ /* Make the image container take up the full width of its parent */
        /*height: auto;*/ /* Maintain aspect ratio */
    /*}

.st-right {
    grid-column: 2 / 3;*/ /* Place the content container in the second column */
    /*text-align: center;
}

    .st-right h1 {
        text-align: center;*/ /* Center the heading in mobile view */
    /*}

    .st-right a {
        display: block;
        text-align: center;
    }*/

/* Media query for tablet and desktop view */
/*@media screen and (min-width: 768px) {
    .ProjectSt-container {
        grid-template-columns: 1fr 1fr;*/ /* Two columns for tablet and desktop view */
        /*grid-column-gap: 30px;*/ /* Reduce the spacing between columns */
    /*}
}*/

/* Media query for smaller screens, like mobile phones */
/*@media screen and (max-width: 767px) {
    .ProjectSt-container {
        grid-template-columns: 1fr;*/ /* One column layout for smaller screens */
        /*grid-column-gap: 0;*/ /* Remove the spacing between columns */
    /*}

    .st-left {
        margin-bottom: 20px;*/ /* Add some spacing between the image and the content */
    /*}

    .st-right {
        grid-column: 1 / 2;*/ /* Place the content container in the first column */
        /*text-align: center;*/ /* Center the content in the first column */
    /*}
}*/
